.cardComponent{
    background-color: #CAD5E2
}
.App{
    background-color: #282c34;
    height: 100vh;
    padding: 15px
}

.pImage{
    border-radius: 5px
}

.scrollView::-webkit-scrollbar{
  display : none
}